<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Mobile.GuestLogin"/>
      <class name="Mobile.Google_methods"/>
      <class name="Mobile.Email_error_popup"/>
      <class name="Mobile.Password_error_popup"/>
      <class name="Mobile.MyTraveller1"/>
      <class name="Mobile.FACEBOOKk_methods"/>
      <class name="first.TC_002Login"/>
      <class name="first.Guest1_LoginHomeScreen_Validation"/>
      <class name="Mobile.ManualLogin"/>
      <class name="Mobile.Error_Blank_Fields"/>
      <class name="Mobile.ForgotPassword"/>
      <class name="Mobile.demo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
